<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-description">
                             home view
                </div>
            </div>
        </div>
    </div>
</div>