<div class="row">
    <div class="col-6 container-left">
        <div class="row">
            <div id="container-img" class="col-4"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12"><strong>Info Adicional pipi:</strong></div>
                    <div class="col-12"><span id="info-adicional-resumen"></span></div>
                    <div class="col-12"><strong>Comentarios:</strong></div>
                    <div class="col-12"><span id="comentarios-resumen"></span> </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-2 container-center">
        <div class="row">
            <div class="col-12"><strong>Proveedor:</strong></div>
            <div class="col-12"><span id="proveedor-more-details"></span></div>
            <div class="col-12"><strong>Costo:</strong></div>
            <div class="col-12"><span id="costo-more-details"></span></div>
            <div class="col-12"><strong>Utilidad:</strong></div>
            <div class="col-12"><span id="utilidad-more-details"></span></div>
        </div>
    </div>  
    <div class="col-4 container-right">
        <div class="row" id="fletes-details-row">
           
            <div class="col-12"><strong></strong></div>
            
        </div>
    </div>
</div>