<div class="row">
    <div class="col-12">
         <strong> Más información </strong>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-6">
            <p><strong>Calle:</strong> <span>Paseo de la espuela</span></p>
            <p><strong>Colonia:</strong> <span>Residencial la hacienda</span></p>
            
        </div>
        <div class="col-6">
            <p><strong>Número exterior:</strong> <span>342</span></p>
            <p><strong>Número interior:</strong> <span>S.N.</span></p>
        </div>
    </div>
</div>